body {
  font-family: "Bebas Neue", cursive;
  font-family: "Mochiy Pop P One", sans-serif;
  font-family: "Poppins", sans-serif;
  font-family: "Rubik Beastly", cursive;
  font-family: "Ubuntu", sans-serif;
}
